<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>email</display-name>
	<servlet>
		<servlet-name>EmailListServlet</servlet-name>
		<servlet-class>murach.email.EmailListServlet</servlet-class>
    </servlet>
  
	<servlet>
		<servlet-name>EmailListDBServlet</servlet-name>
		<servlet-class>murach.email.EmailListDBServlet</servlet-class>
    </servlet>

    <servlet>
		<servlet-name>SurveyListServlet</servlet-name>
		<servlet-class>murach.survey.SurveyListServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>murach.download.DownloadServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>murach.cart.CartServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>SqlGatewayServlet</servlet-name>
		<servlet-class>murach.sql.SqlGatewayServlet</servlet-class>
    </servlet>
    
    <servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>murach.admin.UsersServlet</servlet-class>
	</servlet>
	
    <servlet-mapping>
    	<servlet-name>EmailListServlet</servlet-name>
    	<url-pattern>/emailList</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
    	<servlet-name>EmailListDBServlet</servlet-name>
    	<url-pattern>/emailListDB</url-pattern>
    </servlet-mapping>
     
    <servlet-mapping>
    	<servlet-name>SurveyListServlet</servlet-name>
    	<url-pattern>/surveyList</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>DownloadServlet</servlet-name>
    	<url-pattern>/download</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
    	<servlet-name>CartServlet</servlet-name>
    	<url-pattern>/cart</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
    	<servlet-name>SqlGatewayServlet</servlet-name>
    	<url-pattern>/sqlGateway</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/userAdmin</url-pattern>
	</servlet-mapping>
	
    <session-config>
    	<session-timeout>30</session-timeout>
    </session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/chapter05/error_404.jsp</location>
    </error-page>
    
    <error-page>
    	<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/chapter05/error_java.jsp</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>